* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 60px 20px;
    text-align: center;
}

#about {
    background: #f4f4f4;
}

#portfolio .gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

#portfolio .gallery-item {
    background: #ddd;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    border: #333 solid 0.5px;
}

form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form label {
    text-align: left;
    font-weight: bold;
}

form input, form textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    padding: 10px;
    border: none;
    background: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #555;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.container {
    margin: 100px 0 0 200px;
    width: 70%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.container img{
    width: 10%;
    height: 100%;
    object-fit: cover;
    border-radius: 1opx;
    border: 2px solid rgba(255, 255, 255, 0.684);
    transition: all;
}

.gallery-item:hover{
    width: 25%;
}

.gallery-item img {
    width: 100%;
    max-height: 200px;
    border-radius: 8px;
    object-fit: cover;
}

a {
    text-decoration: none;
}

.about > p {
    text-align:justify;
}

.divider {
    height: 50px;
}